@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 600px;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.05;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.05;
    text-align: center;
}

h3 {
    font-weight: normal;
    margin: 10px;
}

p {
    font-size: 1.25rem;
    line-height: 1.05;
}

.title {
    text-align: center;
    padding-bottom: 15px;
}

.question-title {
    width: 600px;
    background-color: rgb(255, 56, 92);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    margin-top: 50px;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-block {
    width: 286px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    border: none;
    padding: 0;
}

.question-block img {
    width: 300px;
    height: 200px;
}

.question-block p {
    font-size: 11px;
    font-style: italic;
}

.question-block a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.answer-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.answer-block h1 {
    border-bottom: 5px solid rgb(255, 56, 92);
    padding-bottom: 6px;
    text-transform: uppercase;
}

.answer-block img {
    width: 550px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}